ion-header {
    position: absolute;
  
    ion-toolbar {
     
      --background : #1A1851;
  
      ion-title {
        --color: white;
        font-size: 18px;
      }
  
      .calendar {
        color: #fff;
      }
      
    }
  }