<ion-header>
  <ion-toolbar class="toolbar" >
    <ion-buttons slot="start" color="primary">
      <!-- <ion-menu-button ></ion-menu-button> -->
      <app-toggle></app-toggle>
    </ion-buttons>
    <ion-title>Notifications</ion-title>

    <ion-buttons slot="end" color="primary" class="ion-padding" (click)= "calendar();" >
      <ion-icon name="calendar-outline" class="calendar"  style="font-size: 23px;" ></ion-icon>
     
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>
