ion-content{
    --background : linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.1)),
    url('/assets/background/first.jpg') no-repeat center center / cover;
}

ion-card {
    justify-content: center;
    margin-top: 50px;
}