<ion-header class="ion-no-border">
  <ion-toolbar>
   

    <ion-title style="color:#fff;" class="ion-text-center" >
     asdas
    </ion-title>

    <ion-buttons slot="end" (click)="settings()">
      <ion-button style="color:#fff;">
        <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" >
    <ion-item lines="none" >
      <ion-avatar slot="start" style="width: 72px; height: 72px">
        <img  src="">
      </ion-avatar>
      <ion-label>
        <h1 style="font-weight: bold">asd</h1>
        <h3>Ustp Alumni</h3>
        <p style="vertical-align: middle; display: table-cell">
          online
          <ion-icon
            name="phone-portrait-outline"
            size="small"
            color="primary"
            style="width: 14px; height: 14px; vertical-align: middle"
            
          >
          </ion-icon>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>