ion-slide {
    padding: 150px 30px;
    display: block;
    h2{
        font-size: 35px;
        font-weight: bold;
        color: black;
    }
    h1{
        font-weight: bold;
        color: black;
    }
    p{
        color: black;
    }
}