






ion-toolbar{
    max-height: 80px;
    --background : #1A1851;
    ;
    
    .logo{
        max-height: 70px;
        padding: 5px;
        padding-bottom: 10px;
    
    }
   
    .signup-button {
        --border-color : #b4b4b4;
        -color : #000000;
        font-weight: bold;
        --background : #1A1851;
        // margin-top: 2px;
        width: 100%;
        text-align: center;
        border-radius: 3px;
        user-select: none;
        border: 2px solid;
        outline: 0;
       
    }
  

}

ion-content{
    --background : linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.1)),
    url('/assets/background/first.jpg') no-repeat center center / cover;
    height: 125%;
}

.login-section {
    // height :84vh;
    // width: 100%;
    // max-width: 500px;
    // background: #fff;
    // right: 0;
    // left: 0;
    // bottom: 0;
    // position: fixed;
    // margin : auto;
    // border-top-left-radius: 46px;
    // border-top-right-radius: 46px;
    

    ion-card {
        border-radius: 43px;
      
    justify-content: center;
    
    
    width: 100%;
    max-width: 450px;
    background: #fff;
    right: 0;
    left: 0;
   

    margin : auto;
    border-radius: 46px;

        
    }
    
    .heading{
        margin-top: 20px;
        h1{
            font-size: 1.6rem;
            font-weight: bolder;
        }
        p{
            margin-top: 20px;
            font-size: 1rem;
            color: #7b7b7b;
        }
    }
    .login-form{
        .form-input{
            position : relative;
            margin-bottom: 2px;
            ion-item::part(native) {
                padding-left: 0;
            }
            ion-icon{
                position : absolute;
                top : 37px;
                z-index: 2;
                font-size: 1.2rem;
                left: 5px;
            }
            ion-label {
                position: absolute;
                margin-left: 35px;
                font-weight: bolder;
                font-size: 0.8rem;
                top : 3px;

            }
            ion-input {
                font-size : 0.9rem;
                --padding-start: 36px;
                --padding-top: 36px;
                color: #7b7b7b;

            }
        }
    }

    #myFileInput{
        position: absolute;
        opacity: 0;
      }
      

    .action-buttons {
        text-align: center;
        
        .login-button {
            --background :#1A1851;
            width: 100%;
            
            color: #f9b801;
        }
        p{
            margin-top:5px;
            font-size: 1rem;
            color: #7b7b7b;
        }
        
    }

   
}

