.message-icon-middle {
  vertical-align: middle;
}


ion-header {
  

  ion-toolbar {
   
    --background : #1A1851;

    ion-title {
      --color: white;
      font-size: 18px;
    }

    .calendar {
      color: #fff;
    }
    
  }
}