.monthview-selected{
    font-weight: bold;
    background-color: #F1F1F1 !important;
    color: #333 !important;
}
.monthview-primary-with-event, .calendar-event-inner{
    background-color: #1a92d0!important;
}

td, th {
    border: 0 !important;
  }